.user-card{
    border:1px solid #ccc;
    border-radius: 8px;
    padding:10px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
    max-width:200px;
}

.user-card img{
    width: 100%;
    height: 100%;
    border-radius:10%;
    margin-bottom:15px;
    
}

.user-card button{
    padding: 10px 15px;
    background-color: #007;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}